<span class="inline-code"><slot /></span>

<style scoped>
  .inline-code {
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
      Courier, monospace;
    line-height: normal;
    background: rgba(135, 131, 120, 0.25);
    color: var(--clr-primary);
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2em 0.4em;
    word-break: keep-all;
    white-space: nowrap;
  }
</style>
