---
import type { ParagraphBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";

interface Props {
  block: ParagraphBlockObjectResponse;
}

const { block } = Astro.props as Props;

const paragraphBlock: ParagraphBlockObjectResponse["paragraph"] =
  block[block.type];
---

<p>
  {
    paragraphBlock.rich_text.map((part) => {
      if (part.href) {
        return <a href={part.href} title={part.plain_text} target="_blank">{part.plain_text}</a>;
      }

      return part.plain_text
    })
  }
</p>
