/* Links */
a:not(.ds__link--clean) {
  display: inline-block;
  color: var(--clr-link-text);
  transition: color 300ms ease-in-out;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--clr-link-hover-bg);
    width: 0%;
    z-index: -1;
    transition: width 300ms ease-in-out;
  }

  &:hover {
    color: var(--clr-link-hover-text);
    text-decoration: none;
    &::before {
      width: 100%;
    }
  }
}
