@use "colors";

:root {
  --dark-1: #2a414f;
  --dark-2: #263a46;
  --dark-3: #21323e;
  --dark-4: #1c2b35;
  --dark-5: #18242c;
  --dark-6: #131d23;
  --dark-7: #0e161a;
  --dark-8: #090e12;
  --dark-9: #050709;

  /* --- Primary ---*/
  --clr-primary: var(--lime-4);

  --clr-primary-l1: var(--lime-3);
  --clr-primary-l2: var(--lime-2);
  --clr-primary-l3: var(--lime-1);
  --clr-primary-l4: var(--lime-0);

  --clr-primary-d1: var(--lime-5);
  --clr-primary-d2: var(--lime-6);
  --clr-primary-d3: var(--lime-7);
  --clr-primary-d4: var(--lime-8);

  /* --- Utils --- */
  --clr-page: var(--dark-7);
  --clr-danger: #cc7c6a;
  --clr-warn: #5e98ba;
  --clr-info: #efe583;
  --clr-black: #002d18;
  --clr-white: var(--gray-1);
  --clr-text: var(--gray-1);
  --clr-label: var(--gray-4);

  /* --- Shadows --- */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
