<section id="section-about" class="ds__section--sm about">
  <h2 id="about-title" class="ds__title--xl" data-aos="fade-up">About me</h2>

  <p
    class="ds__text"
    data-aos="fade-up"
    data-aos-anchor="#about-title"
    data-aos-anchor-placement="top-bottom"
    data-aos-delay="600"
  >
    I'm a Senior Frontend Developer & Lead based in Sofia, Bulgaria 🇧🇬 . I'm
    workig on daily basis with <img
      src="/react-logo.svg"
      alt="react"
      class="icon"
    />
    React, but <img src="/vue-logo.svg" alt="vue" class="icon" /> Vue would be my
    personal choice for almost anything nowadays. Having more than 7 years of experience
    in the field, I have worked on and delivered numerous SPA and SSR applications.
  </p>
  <p
    class="ds__text"
    data-aos="fade-up"
    data-aos-anchor="#about-title"
    data-aos-anchor-placement="top-bottom"
    data-aos-delay="900"
  >
    At the moment I'm primarily focused on architecting web applications for
    scalability (FE Oriented), discussing and planning client-specific feature
    implementations, working on Developer processes and tooling and ensuring
    code quality. You can learn more here: <a href="/"
      >about me (🚷 Under Construction)</a
    > or at my
    <img src="/linkedin-logo.svg" alt="linkedin" class="icon" />
    <a href="https://www.linkedin.com/in/simeonpetrov5/" target="_blank">
      Linked Profile</a
    >
  </p>
</section>

<style lang="scss">
  .icon {
    display: inline-block;
    height: 1.25rem;
    vertical-align: middle;
  }
</style>
