---
import Layout from "../layouts/layout.astro";
---

<Layout title="Uhm ..." description="">
  <section class="not-found ds__section">
    <div>
      <h1 class="ds__title--xl">404. Damn. Not Found.</h1>
      <p class="subTitle">Please don't tell me it's a bug again ...</p>
    </div>

    <div>
      <img
        src="https://media0.giphy.com/media/4MjVrfDD2WrN6/giphy.gif?cid=790b7611c98eda8c8e6c1148e2c6314bef8bd50f2fe4a364&rid=giphy.gif&ct=g"
        width="480"
      />
      <p>
        <a href="https://giphy.com/gifs/4MjVrfDD2WrN6" target="__blank"
          >via GIPHY</a
        >
      </p>
    </div>

    <p class="ds__text">
      Probably you should go to
      <a href="/" title="Home page">Home page</a>
    </p>
  </section>
</Layout>

<style lang="scss">
  .not-found {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .ds__title--xl {
      text-align: center;
    }
    .subTitle {
      margin-left: auto;
      display: block;
      font-size: var(--font-size-fluid-0);
      text-align: right;
      color: var(--clr-primary-d2);
      margin-bottom: 3rem;
      font-style: italic;
    }
  }
</style>
