---
import Page from "@layouts/Page.astro";
---

<Page title="Privacy Policy" description="Privacy Policy" imageUrl="">
  <section class="ds__section--sm hero ds__text">
    <h2 class="ds__title--xl">Privacy Policy</h2>
    <br />
    <br />
    <p>
      This Privacy Policy explains how we use information collected on
      icantevencode.com. By using icantevencode.com, you consent to the terms of
      this policy.
    </p>

    <p>
      We use Umami to collect analytics data on icantevencode.com. Umami is a
      self-hosted, open-source web analytics platform that does not use cookies
      or tracking pixels, and does not collect or store any personal data. All
      data collected by Umami is anonymous and cannot be used to personally
      identify website visitors.
    </p>

    <p>Umami collects the following types of information:</p>

    <ul>
      <li>IP address</li>
      <li>Browser type and version</li>
      <li>Device type and screen resolution</li>
      <li>Operating system</li>
      <li>Pages visited on icantevencode.com</li>
      <li>Referring website (if applicable)</li>
      <li>Time and date of visit</li>
      <li>Time spent on each page</li>
    </ul>

    <p>
      This information is used to analyze website traffic and improve
      icantevencode.com. We do not use this information to personally identify
      our website visitors.
    </p>

    <p>
      We do not share any personal information with third-party providers,
      unless required by law. We take reasonable measures to protect the
      security of the anonymous information collected by Umami and to prevent
      unauthorized access or disclosure.
    </p>

    <p>
      You have the right to request access to the anonymous information
      collected by Umami that we hold. To make such a request, please contact us
      using the information provided on icantevencode.com.
    </p>

    <p>
      We may update this Privacy Policy from time to time. Any changes will be
      posted on icantevencode.com. If you continue to use icantevencode.com
      after any changes to this Privacy Policy, you consent to the updated
      terms.
    </p>
  </section>
</Page>

