---
import Layout from "../layouts/layout.astro";
---

<Layout title="Success">
  <section class="not-found ds__section">
    <h1 class="ds__title--xl">Email sent successfully!</h1>

    <div>
      <img
        src="https://media3.giphy.com/media/xTiQyDyfgHXXLwpoBi/giphy.gif?cid=790b761182220263a659a6ecd1531eaf9aa0acb2d5d0531f&rid=giphy.gif&ct=g"
        width="480"
      />
      <p>
        <a
          href="https://giphy.com/gifs/latelateshow-james-corden-late-show-xTiQyDyfgHXXLwpoBi"
          >via GIPHY</a
        >
      </p>
    </div>

    <p class="ds__text">
      Probably you should go back to
      <a href="/" title="Home page">Home</a>
    </p>
  </section>
</Layout>

<style lang="scss">
  .not-found {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .ds__title--xl {
      text-align: center;
    }
    .subTitle {
      margin-left: auto;
      display: block;
      font-size: var(--font-size-fluid-0);
      text-align: right;
      color: var(--clr-primary-d2);
      margin-bottom: 3rem;
      font-style: italic;
    }
  }
</style>
