@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

.fade-up {
  animation: fade-up 1000ms forwards;
}

// Vue transition
.v-enter-active,
.v-leave-active {
  transition: opacity 300ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
