:root {
  /* Base */
  --green-0: #ebfbee;
  --green-1: #d3f9d8;
  --green-2: #b2f2bb;
  --green-3: #8ce99a;
  --green-4: #69db7c;
  --green-5: #51cf66;
  --green-6: #40c057;
  --green-7: #37b24d;
  --green-8: #2f9e44;
  --green-9: #2b8a3e;

  --lime-0: #f4fce3;
  --lime-1: #e9fac8;
  --lime-2: #d8f5a2;
  --lime-3: #c0eb75;
  --lime-4: #a9e34b;
  --lime-5: #94d82d;
  --lime-6: #82c91e;
  --lime-7: #74b816;
  --lime-8: #66a80f;
  --lime-9: #5c940d;

  --yellow-0: #fff9db;
  --yellow-1: #fff3bf;
  --yellow-2: #ffec99;
  --yellow-3: #ffe066;
  --yellow-4: #ffd43b;
  --yellow-5: #fcc419;
  --yellow-6: #fab005;
  --yellow-7: #f59f00;
  --yellow-8: #f08c00;
  --yellow-9: #e67700;

  --orange-0: #fff4e6;
  --orange-1: #ffe8cc;
  --orange-2: #ffd8a8;
  --orange-3: #ffc078;
  --orange-4: #ffa94d;
  --orange-5: #ff922b;
  --orange-6: #fd7e14;
  --orange-7: #f76707;
  --orange-8: #e8590c;
  --orange-9: #d9480f;

  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;

  --dark-1: #2a414f;
  --dark-2: #263a46;
  --dark-3: #21323e;
  --dark-4: #1c2b35;
  --dark-5: #18242c;
  --dark-6: #131d23;
  --dark-7: #0e161a;
  --dark-8: #090e12;
  --dark-9: #050709;

  /* Primary */

  --clr-primary: var(--lime-4);
  --clr-primary-2: var(--lime-5);
  --clr-primary-3: var(--lime-6);

  /* Utils */
  --clr-page: var(--dark-7);
  --clr-danger: #cc7c6a;
  --clr-warn: #5e98ba;
  --clr-info: #efe583;
  --clr-black: #002d18;
  --clr-white: var(--gray-1);
  --clr-text: var(--gray-1);
  --clr-label: var(--gray-4);
}
