@use "./reset";

@forward "./design-tokens/index";

@use "./partials/typography";
@use "./partials/layout";
@use "./partials/components";
@use "./partials/animations";

:root {
  background-color: var(--clr-page-bg);
  scroll-behavior: smooth;
}

main{
  min-height: calc(100vh - 72px);
}