---
import "../assets/styles/index.scss";
import UIHeader from "@components/UIHeader.astro";
import UIFooter from "@components/UIFooter.vue";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<script>
  import "../assets/js/aos.js";
</script>

<body>
  <UIHeader />
  <main>
    <div class="blogpost section section--sm">
      <slot />
    </div>
  </main>

  <UIFooter client:visible />

  <style lang="scss" is:global>
    .blogpost {
      color: white;

      hr {
        color: var(--clr-primary-d2);
        margin-block: 3rem;
      }

      h1 {
        text-align: center;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: revert;
      }

      .sub-title {
        color: var(--clr-label);
        text-align: center;
        font-style: italic;
        font-size: 1rem;
      }
      p {
        font-size: 1.25rem;
        letter-spacing: 1px;
        line-height: 1.5;
      }
      // Lists
      ul,
      ol {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
      }
      ol {
        list-style-type: decimal;
      }
      ul {
        list-style-type: disc;
      }

      // Blockquote
      blockquote {
        background-color: transparent;
        border-left: 10px solid var(--clr-primary-d2);
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
      }
      blockquote:before {
        color: var(--clr-primary-d2);
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }
      blockquote p {
        display: inline;
      }

      // Tables
      table {
        width: 100%;
        background-color: var(--clr-primary-l3);
        border-collapse: collapse;
        border-width: 2px;
        border-color: #ffcc00;
        border-style: solid;
        color: #000000;
      }

      table td,
      table th {
        border-width: 2px;
        border-color: var(--clr-primary-d3);
        border-style: solid;
        padding: 0.25rem 0.75rem;
      }

      table thead {
        background-color: var(--clr-primary-d3);
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  </style>
</body>
