---
import BaseLayout from "@components/base/BaseLayout.astro";

export interface Props {
  title: string;
  description: string;
  imageUrl: string;
}

const { title, imageUrl, description } = Astro.props;
---

<BaseLayout title={title} description={description} imageUrl={imageUrl}>
  <div class="ds__section--sm">
    <slot />

    <script
      client:visible
      src="https://giscus.app/client.js"
      data-repo="simeon-petrov-5/icantevencode"
      data-repo-id="R_kgDOIXCOYg"
      data-category="Announcements"
      data-category-id="DIC_kwDOIXCOYs4CV_qu"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="dark"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </div>
</BaseLayout>
